openapi: 3.0.4
servers:
  - url: 'https://standard-api.agroconnect.nl/ecrop/v1'
    description: Agroconnect Virtual API server
info:
  description: "## eCrop API based on **AgroConnect eCrop standard version 1.0.0**\r\n\r\nThis API concerns registration of crop related activities like application of crop protection products and fertilizers and energy and water consumption.\r\n\r\nThis API is based on the [AgroConnect eCrop class model]()\r\n\r\n## Conformation\r\nThis API definition follows the rules of the [AgroConnect AGRI API Style Guide](https://github.com/AgroConnectNL/API-Style-Guide/blob/main/API%20Style%20Guide%20Documentation/AGRI%20API%20Style%20Guide.md)\r\n\r\n## Design decisions\r\n- super/subtypes (UML generalisations): subtypes are allOf with $ref to supertype and subtype-object with subtype atributes\r\n- UML compositions: hierachy in URI (should be aggegrations in eCrop class model) or array in master-object\r\n- each **resource** which has operations defined on it, has a server side assiged identification named {**id**} (type idType (content+schemeId))\r\n- each **schema** has a a list of client side assiged identifications named **{thirdPartyIds}** (array type with content+schemeId attributes)\r\n\r\n## Release Notes V1.1.0\r\n- Added OGC API Features (Part 1: Core) and JSON-FG 1.0 support for plot geo-information: geometry schemas (Point/LineString/Polygon/MultiPolygon), PlotFeature/PlotFeatureCollection schemas with shared reusable properties, and the landing page/conformance/collections/items operations with profile (rfc7946/jsonfg), crs, bbox and datetime query parameters\r\n- Replaced *Hallink* and *Hallinks* schemas with RFC 8288 compliant *Link* and *Links* schemas\r\n- Fixed type *agroconnectcodelists* in examples (must be *agroconnect.codelist*)\r\n- Fixed typo *thirdPartydIds* in examples (must be *thirdPartyIds*)\r\n- Added tags *plots* and *crops* and added plots and crop operations to these sections \r\n- Changed description of *Date* and *DateTime* schemas (format, RFC compliancy)\r\n- Changed description of *dateOfDelivery* in *InboundDeliveryDetails* schema (format, RFC compliancy)\r\n- Changed content of unit-examples to Agroconnect cl020 codes\r\n- Changed *unitcode* into *unitCode* in schema *MeasureType*\r\n- Changed example of *inboundDeliveryId* parameter to be compliant with uuid format\r\n- Changed *measuredValue* into *measureValue* in examples\r\n- Added *codeValue* property to *CharacteristicsType*\r\n- Fixed typos in descriptions of tags\r\n- Removed conformance references info section and added reference to AGRI API Style Guide\r\n- Removed Standard responses from info section (now part of the AGRI API Style Guide)\r\n- Fixed typo in plot example (*conent* -> *content*)\r\n- Fixed *ProblemDetails* schema and example to include an *errors* array (field/message) for reporting multiple validation errors, per AASG rule H007\r\n- Fixed missing H004-required response codes (400/401/404) on several OGC and business operations\r\n- Aligned *country* and *thirdPartyIds* examples with their schemas (object instead of plain string, content/schemeId instead of id/type) across Grower, Supplier and ProductionLocation examples\r\n- Fixed required-but-nullable inconsistencies in address examples (removed invalid nulls, corrected streetNumber/postalBoxId to string type)\r\n- Filled in placeholder *listId* values in the CropDetails example with actual AgroConnect codelist NSIDs (cl412/cl255/cl251/cl015/cl299/cl300)\r\n- Added missing *id* to the nested *plots* in the CropDetails example, reusing the same identifiers as used in the GET /.../plots examples\r\n- Changed *regularOrOrganic*, *localSoilType* and *regulatorySoilType* in the *Plot* schema from plain string to *CodeType* (content+listId), consistent with the same properties in *Crop*; updated all affected examples accordingly\r\n- Renamed tag *geo* to *plot-geometry* for clarity\r\n- Made *streetName*, *streetNumber* and *countryName* optional in *AddressType* (only *postalCode*, *cityName* and *country* remain required); added new property *streetNumberExtension* (string)\r\n- Changed the *postalAddress* example in Grower to a PO box address (street properties omitted, *postalBoxId* populated), illustrating the now-optional street properties\r\n- Removed the schema-level *example* from *ProblemDetails* (it caused the same 400-style example to appear on every error response); added a status-specific *example* to *default_error* instead, so each reusable error response (400/401/403/404/500/default) now shows its own matching example\r\n- Replaced all occurrences of the en dash (U+2013, \u201c\u2013\u201d) in examples with a regular hyphen-minus (U+002D, \u201c-\u201d), per OpenAPI validator recommendation\r\n- Added a dedicated *servers* override (*https://api.agroconnect.nl/plot-features*) to the *plot-geometry* operations, separating the OGC API Features/JSON-FG geo endpoints from the main eCrop business API server\r\n- Added new schemas *EquipmentDetail*, *EquipmentAssignment*, *Worker* and *WorkAssignment*, to register equipment and workers used in an operation\r\n- Extended *OperationDetails* schema with new optional properties *equipmentAssignments* (list of *EquipmentAssignment*) and *workerAssignments* (list of *WorkAssignment*); added missing descriptions to its *inputAllocations* and *outputAllocations* properties\r\n\r\n## Release Notes V1.0.2\r\n- Added HalLinks and HalLink schemas.\r\n- Added NsidType schema.\r\n- Changed codeList schema to use NsidType for listId\r\n- Removed erroneous '//' from paths from operations post-growers-plot-tasks and put-growers-plot-tasks\r\n\r\n## Release Notes V1.0.1\r\n- Changed reference to eCrop class model in the *externalDocs* section to version 1.0.0\r\n- Renamed schema *MeasurementType* to *MeasureType*\r\n- MeasureType Schema: Added unitCode to required section\r\n- Added reusable type-schemas *Year* and *Time*\r\n- Changed format of DateTime**Type type from *datetime* to *date-time* (OpenAPI 3.0 standard)\r\n- Changed titles of Type schemas to correct English (separate words)\r\n- Party Schema: typo: renamed property name *visitorsAdress* to *visitorsAddress*\r\n- Party Schema: typo: renamed property name *emailAdress* scheme to *emailAddress*\r\n- Grower Schema: fixed typo *visitorsAdress* and *emailAdress* in example\r\n- Supplier Schema: fixed typo *visitorsAdress* and *emailAdress* in example\r\n- ProductionLocationDetails Schema: fixed typos *visitorsAdress* and *emailAdress* in example\r\n- PlantSpecies Schema: typo: renamed property name *plantSpecies* to *species*\r\n- Tasks Schema: removed property *referenceId* (also in examples where applicable)\r\n- Operations Schema: removed property *referenceId* (also in examples where applicable)\r\n- Operations Schema: removed property *culturalPractice* (also in examples where applicable)\r\n- Operations Schema: added missing property *type* \r\n- Operations Schema: renamed property *operationTechnique* to *technique* (q: which codelist?)\r\n- AllocationDetails Schema: replaced *quantityAbsolute*  and *quantityRate* with *quantity* \r\n- AllocationDetails Schema: removed property *resourceId* (redundant with product-relation)\r\n- CharacteristicsType Schema: modified definition of *characteristicsType* (separate value properties per type)\r\n- Changed description of all *thirdPartyids* properties\r\n- Added *additionalProperties: false* to pdt and udt schematypes\r\n- Added reusable examples in the *components* section and checked them all with openapi-exmaples-validator\r\n\r\n### Release Notes V1.0.0\r\nReleased for implementation of inbound-deliveries\r\n\r\nCopyright (c) AgroConnect 2026"
  version: 1.1.0
  title: AgroConnect eCrop API
  contact:
    email: bernard@vanraaijadvies.nl
    name: Bernard van Raaij
    url: ''
  license:
    name: Agroconnect
    url: 'https://www.agroconnect.nl/'
  termsOfService: ''
externalDocs:
  description: Agroconnect eCrop class model version 1.0.0.
  url: 'https://www.agroconnect.nl/Portals/10/EnterpriseArchitect/eCrop_json/eCrop_v1.0.0/index.html'
tags:
  - name: general
    description: General Operations
  - name: parties
    description: "**Operations on Party-level**\r\n\r\nThese operations are added to this API definition as an example of how basic party information can be exposed to external clients. This can be extended with functions for registering new parties (growers, suppliers) or letting them modify their basic information (name, address, contact info, etc.)"
  - name: plots
    description: "**Plot operations**\r\n\r\nThese operations can be used to retrieve and maintain plot information. Plots are published with there basic information and geometry according to the OGC JSON FG"
  - name: plot-geometry
    description: "**Plot geo-information operations (OGC API Features / JSON-FG)**\r\n\r\nThese operations expose the geo-information of plots (boundary, entryPoint, abLine) as an OGC API Features-compliant, JSON-FG capable API: a landing page, conformance declaration, collection metadata, and Feature/FeatureCollection resources."
  - name: crops
    description: "**Crop operations**\r\n\r\nThese operations can be used to retrieve and maintain crop information."
  - name: delivery
    description: "**Inbound Delivery Operations**\r\n\r\nThese operations can be used for registering products which have been delivered to a grower by a supplier. Suppliers can only register deliveries for growers they are granted for, which they can check with the GET operations in this section (optional). Alternatively growers can register their inboud-deliveries themselves"
  - name: farm level registration
    description: "**Farm level registration Operations**\r\n\r\n Growers can use these operations to register (non-crop related-) tasks and operations on **farm** level"
  - name: plot level registration
    description: "**Plot level registration Operations**\r\n\r\n Growers can use these operations to register (non-crop related-) tasks and operations on **plot** level"
  - name: crop level registration
    description: "**Crop level registration Operations**\r\n\r\n Growers can use these operations to register **crop related** tasks and operations"
paths:
  /health:
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Returns health check of this API
      operationId: get-health
      description: |-
        This endpoint provides health status information about the API service, its dependencies, and overall operational condition. It is designed to be used by monitoring tools, load balancers, and orchestration systems to determine if the service is available and ready to process requests.

        **Checks (examples):**
        - Validator (function) app available?
        - API datastore available?
        - Servicebus available? 

        **Usage:**   
        - **Monitoring:** Used by system administrators and automated monitoring to ensure service availability.
      tags:
        - general
      responses:
        '200':
          $ref: '#/components/responses/health_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        '503':
          $ref: '#/components/responses/health_503'
        default:
          $ref: '#/components/responses/default_error'
  /growers:
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      tags:
        - parties
      summary: Get all growers for which the client is authorized
      operationId: get-growers
      description: |
        Returns a list with all growers which the requesting client has access to. When called by a grower, his own data will be returned
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/growers_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    get:
      tags:
        - parties
      summary: Get a specific grower
      operationId: get-growers-by-growerId
      description: Returns the data of a specific grower with the requested schemeId and growerId when the requesting client has access to these.
      responses:
        '200':
          $ref: '#/components/responses/grower_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  /suppliers:
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      tags:
        - parties
      summary: Get all supliers for which the client is authorized
      operationId: get-suppliers
      description: Returns a list with all suppliers which the requesting client has access to.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/suppliers_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/suppliers/{supplierSchemeId}/{supplierId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/supplierSchemeId'
      - $ref: '#/components/parameters/supplierId'
    get:
      tags:
        - parties
      operationId: get-suppliers-by-supplierId
      summary: Get a specific supplier
      description: Returns the data of a specific supplier with the requested idType and id when the requesting client has access to these.
      responses:
        '200':
          $ref: '#/components/responses/supplier_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/inbound-deliveries':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    post:
      summary: Register an inbound delivery by a grower
      operationId: post-grower-inbound-deliveries
      description: Register an inbound delivery of a product by grower
      tags:
        - delivery
      requestBody:
        $ref: '#/components/requestBodies/inboundDeliveryRequestByGrower'
      responses:
        '202':
          $ref: '#/components/responses/inboundDeliveryGrower_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/inbound-deliveries/{inboundDeliverySchemeId}/{inboundDeliveryId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/inboundDeliverySchemeId'
      - $ref: '#/components/parameters/inboundDeliveryId'
    put:
      summary: Update a previously registered inbound delivery by a grower
      operationId: put-growers-inbound-deliveries
      description: Update a previously registered inbound delivery by a grower
      tags:
        - delivery
      requestBody:
        $ref: '#/components/requestBodies/inboundDeliveryRequestByGrower'
      responses:
        '202':
          $ref: '#/components/responses/inboundDeliveryGrower_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a previously registered inbound delivery by a grower
      operationId: del-grower-inbound-deliveries
      description: Delete a previously registered inbound delivery by a grower
      tags:
        - delivery
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/suppliers/{supplierSchemeId}/{supplierId}/growers':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/supplierSchemeId'
      - $ref: '#/components/parameters/supplierId'
    get:
      summary: Get all growers for a suppliers
      operationId: get-suppliers-growers
      description: Returns all growers for which a supplier is autorised
      tags:
        - delivery
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/growers_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/suppliers/{supplierSchemeId}/{supplierId}/growers/{growerSchemeId}/{growerId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/supplierSchemeId'
      - $ref: '#/components/parameters/supplierId'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    get:
      summary: Get a specific grower for a supplier
      operationId: get-suppliers-growers-by-growerId
      description: Returns a specific grower if the supplier is autorised
      tags:
        - delivery
      responses:
        '200':
          $ref: '#/components/responses/grower_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/suppliers/{supplierSchemeId}/{supplierId}/growers/{growerSchemeId}/{growerId}/inbound-deliveries':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/supplierSchemeId'
      - $ref: '#/components/parameters/supplierId'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    post:
      summary: Register an inbound delivery for a grower by a supplier
      operationId: post-suppliers-growers-inbound-deliveries
      description: Register an inbound delivery of a product for a grower by a supplier.
      tags:
        - delivery
      requestBody:
        $ref: '#/components/requestBodies/inboundDeliveryRequestBySupplier'
      responses:
        '202':
          $ref: '#/components/responses/inboundDeliverySupplier_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/suppliers/{supplierSchemeId}/{supplierId}/growers/{growerSchemeId}/{growerId}/inbound-deliveries/{inboundDeliverySchemeId}/{inboundDeliveryId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/supplierSchemeId'
      - $ref: '#/components/parameters/supplierId'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/inboundDeliverySchemeId'
      - $ref: '#/components/parameters/inboundDeliveryId'
    put:
      summary: Update a previously registered inbound delivery for a grower by a supplier
      operationId: put-suppliers-growers-inbound-deliveries
      description: Update a previously registered inbound delivery for a grower by a supplier
      tags:
        - delivery
      requestBody:
        $ref: '#/components/requestBodies/inboundDeliveryRequestBySupplier'
      responses:
        '202':
          $ref: '#/components/responses/inboundDeliverySupplier_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a previously registered inbound delivery for a grower by a supplier
      operationId: del-suppliers-growers-inbound-deliveries
      description: Delete a previously registered inbound delivery for a grower by a supplier
      tags:
        - delivery
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/production-locations':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    get:
      summary: Returns all productionlocations of a grower
      operationId: get-growers-production-locations
      description: Returns all productionlocations of a grower
      tags:
        - farm level registration
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/productionlocations_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/production-locations/{productionLocationSchemeId}/{productionLocationId}/tasks':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/productionLocationSchemeId'
      - $ref: '#/components/parameters/productionLocationId'
    post:
      summary: Register a non crop-specific task with operations on a production location by a grower
      operationId: post-growers-production-locations-tasks
      description: "Register a non crop-specific task with operations on a production location by a grower\r\n\r\nRemarks: repeatingly posting tasks with the same exterenal id will lead to updating the previously posted task (so no duplicates will be generated). \r\nPreferrable, clients should use the PUT operation to update previously POSTed tasks in stead of re-posting them."
      tags:
        - farm level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/production-locations/{productionLocationSchemeId}/{productionLocationId}/tasks/{taskSchemeId}/{taskId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/productionLocationSchemeId'
      - $ref: '#/components/parameters/productionLocationId'
      - $ref: '#/components/parameters/taskSchemeId'
      - $ref: '#/components/parameters/taskId'
    put:
      summary: Update a previously registered non crop-specific task with operations on a production location by a grower
      operationId: put-growers-production-locations-tasks
      description: Update a previously registered non crop-specific task with operations on a production location by a grower
      tags:
        - farm level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a previously registered non crop-specific task with operations on a production location by a grower
      operationId: del-growers-production-location-tasks
      description: Delete a previously registered non crop-specific task with operations on a production location by a grower
      tags:
        - farm level registration
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/plots':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    get:
      summary: Returns all plots of a grower
      operationId: get-growers-plots
      description: Returns all plots of a grower
      tags:
        - plots
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/plots_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    post:
      summary: Register a new plot by a grower
      operationId: post-growers-plots
      description: "Register a new plot by a grower\r\n\r\nRemarks: repeatingly posting plots with the same exterenal id will lead to updating the previously posted plot (so no duplicates will be generated). \r\nPreferrable, clients should use the PUT operation to update previously POSTed plots in stead of re-posting them."
      tags:
        - plots
      requestBody:
        $ref: '#/components/requestBodies/plotRequest'
      responses:
        '202':
          $ref: '#/components/responses/plot_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/plots/{plotSchemeId}/{plotId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/plotSchemeId'
      - $ref: '#/components/parameters/plotId'
    get:
      summary: Returns a specific plot of a grower
      operationId: get-growers-plots-by-plotid
      description: Returns a specific plot of a grower
      tags:
        - plots
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/plot_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    put:
      summary: Update a previously registered plot by a grower
      operationId: put-growers-plots
      description: Update a previously registered plot by a grower
      tags:
        - plots
      requestBody:
        $ref: '#/components/requestBodies/plotRequest'
      responses:
        '202':
          $ref: '#/components/responses/plot_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a plot by a grower
      operationId: del-growers-plots
      description: Delete a plot by a grower
      tags:
        - plots
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/plots/{plotSchemeId}/{plotId}/tasks':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/plotSchemeId'
      - $ref: '#/components/parameters/plotId'
    post:
      summary: Register a non crop-specific task with operations on a plot by a grower
      operationId: post-growers-plot-tasks
      description: "Register a non crop-specific task with operations on a plot by a grower\r\n\r\nRemarks: repeatingly posting tasks with the same exterenal id will lead to updating the previously posted task (so no duplicates will be generated). \r\nPreferrable, clients should use the PUT operation to update previously POSTed tasks in stead of re-posting them."
      tags:
        - plot level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/plots/{plotSchemeId}/{plotId}/tasks/{taskSchemeId}/{taskId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/plotSchemeId'
      - $ref: '#/components/parameters/plotId'
      - $ref: '#/components/parameters/taskSchemeId'
      - $ref: '#/components/parameters/taskId'
    put:
      summary: Update a previously registered non crop-specific task with operations on a plot by a grower
      operationId: put-growers-plot-tasks
      description: Update a previously registered non crop-specific task with operations on a plot by a grower
      tags:
        - plot level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a non crop-specific task with operations on a plot by a grower
      operationId: del-growers-plot-tasks
      description: Delete a non crop-specific task with operations on a plot by a grower
      tags:
        - plot level registration
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/crops':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
    get:
      summary: Return the crops of a grower
      operationId: get-growers-crops
      description: Returns all crops of a grower
      tags:
        - crops
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/crops_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    post:
      summary: Register a new crop for a grower
      operationId: post-growers-crops
      description: "Register a new crop for a grower\r\n\r\nRemarks: repeatingly posting multiple crops with the same exterenal id will lead to updating the previously posted crop (so no duplicates will be generated). \r\nPreferrable, clients should use the PUT operation to update previously POSTed crops in stead of re-posting them."
      tags:
        - crops
      requestBody:
        $ref: '#/components/requestBodies/cropRequest'
      responses:
        '202':
          $ref: '#/components/responses/crop_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/crops/{cropSchemeId}/{cropId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/cropSchemeId'
      - $ref: '#/components/parameters/cropId'
    put:
      summary: Update a previously registered crop by a grower
      operationId: put-growers-crops
      description: Update a previously registered crop by a grower
      tags:
        - crops
      requestBody:
        $ref: '#/components/requestBodies/cropRequest'
      responses:
        '202':
          $ref: '#/components/responses/crop_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a crop by a grower
      operationId: del-growers-crop
      description: Delete a crop by a grower
      tags:
        - crops
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/crops/{cropSchemeId}/{cropId}/tasks':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/cropSchemeId'
      - $ref: '#/components/parameters/cropId'
    post:
      summary: Register a task with operations on a specific crop by a grower
      operationId: post-growers-tasks
      description: "Register a task with operations on a specific crop by a grower\r\n\r\nRemarks: repeatingly posting multiple tasks with the same exterenal id will lead to updating the previously posted task (so no duplicates will be generated). \r\nPreferrable, clients should use the PUT operation to update previously POSTed tasks in stead of re-posting them."
      tags:
        - crop level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/growers/{growerSchemeId}/{growerId}/crops/{cropSchemeId}/{cropId}/tasks/{taskSchemeId}/{taskId}':
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/growerSchemeId'
      - $ref: '#/components/parameters/growerId'
      - $ref: '#/components/parameters/cropSchemeId'
      - $ref: '#/components/parameters/cropId'
      - $ref: '#/components/parameters/taskSchemeId'
      - $ref: '#/components/parameters/taskId'
    put:
      summary: Update a previously registered task with operations on a specific crop by a grower
      operationId: put-growers-tasks
      description: Update a previously registered task with operations on a specific crop by a grower
      tags:
        - crop level registration
      requestBody:
        $ref: '#/components/requestBodies/taskRequest'
      responses:
        '202':
          $ref: '#/components/responses/task_202'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
    delete:
      summary: Delete a previously registered task with operations on a specific crop by a grower
      operationId: del-growers-tasks
      description: Delete a previously registered task with operations on a specific crop by a grower
      tags:
        - crop level registration
      responses:
        '204':
          $ref: '#/components/responses/default_no_content'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '403':
          $ref: '#/components/responses/default_403'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  ##########################################################################
  # OGC API Features / JSON-FG paths (Plot geo-information)                #
  ##########################################################################
  /:
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Landing page of the Plot Features API
      operationId: get-landing-page
      description: 'Landing page of this OGC API Features-compliant API, with links to the API definition, the conformance declaration, and the feature collections. Per OGC API - Features - Part 1: Core, Requirement /req/core/root-op.'
      tags:
        - plot-geometry
      responses:
        '200':
          $ref: '#/components/responses/landingPage_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  /conformance:
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Conformance declaration
      operationId: get-conformance
      description: 'Returns the OGC API Features and JSON-FG conformance classes implemented by this API. Per OGC API - Features - Part 1: Core, Requirement /req/core/conformance-op.'
      tags:
        - plot-geometry
      responses:
        '200':
          $ref: '#/components/responses/conformance_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  /collections:
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Describe the feature collections available in this API
      operationId: get-collections
      description: 'Returns metadata about the feature collections available in this API (currently the "plots" collection). Per OGC API - Features - Part 1: Core, Requirement /req/core/collections-op.'
      tags:
        - plot-geometry
      responses:
        '200':
          $ref: '#/components/responses/collections_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  /collections/plots:
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Describe the "plots" feature collection
      operationId: get-collection-plots
      description: 'Returns metadata about the "plots" feature collection: its spatial/temporal extent, supported CRSs, and native (storage) CRS. Per OGC API - Features - Part 1: Core, Requirement /req/core/collection-op.'
      tags:
        - plot-geometry
      responses:
        '200':
          $ref: '#/components/responses/collection_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  /collections/plots/items:
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
    get:
      summary: Fetch plots as an OGC API Features / JSON-FG FeatureCollection
      operationId: get-plot-features
      description: |
        Returns the geo-information (boundary, entryPoint, abLine) of plots as a FeatureCollection. boundary is the primary geometry of each feature.

        Supports content negotiation between plain GeoJSON (profile=rfc7946, default) and JSON-FG (profile=jsonfg) via the profile query parameter, per the JSON-FG "JSON-FG in Web APIs" requirements class.
      tags:
        - plot-geometry
      parameters:
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/crs'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/bbox-crs'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/featureLimit'
      responses:
        '200':
          $ref: '#/components/responses/plotFeatureCollection_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
  '/collections/plots/items/{featureId}':
    servers:
      - url: https://standard-api.agroconnect.nl/plot-features/v1
        description: eCrop Geo API (OGC API Features)
    parameters:
      - $ref: '#/components/parameters/Major-Version'
      - $ref: '#/components/parameters/User-Agent'
      - $ref: '#/components/parameters/featureId'
    get:
      summary: Fetch a single plot Feature
      operationId: get-plot-feature-by-id
      description: |
        Returns the geo-information (boundary, entryPoint, abLine) of a single plot as a Feature. boundary is the primary geometry.

        Supports content negotiation between plain GeoJSON (profile=rfc7946, default) and JSON-FG (profile=jsonfg) via the profile query parameter.
      tags:
        - plot-geometry
      parameters:
        - $ref: '#/components/parameters/profile'
        - $ref: '#/components/parameters/crs'
      responses:
        '200':
          $ref: '#/components/responses/plotFeatureTopLevel_200'
        '400':
          $ref: '#/components/responses/default_400'
        '401':
          $ref: '#/components/responses/default_401'
        '404':
          $ref: '#/components/responses/default_404'
        '500':
          $ref: '#/components/responses/default_500'
        default:
          $ref: '#/components/responses/default_error'
components:
  schemas:
    ##########################################################################
    # Primary Data Types (PDT)                                               #
    # - PosInt32                                                             #
    # - PosInt64                                                             #
    # - DateType                                                             #
    # - DateTimeType                                                         #
    # - TimeType                                                             #
    # - YearType                                                             #
    # - NsidType                                                             #
    ##########################################################################
    PosInt32Type:
      type: number
      format: int32
      minimum: 0
    PosInt64Type:
      type: number
      format: int64
      minimum: 0
    DateType:
      title: Date Type
      type: string
      format: date
      pattern: '^\d{4}-\d{2}-\d{2}$'
      description: Date with RFC 9557 (prev. RFC 3339)/ISO-8601 standard date format standard date format "YYYY-MM-DD"
      example: '2025-03-12'
    DateTimeType:
      title: Datetime Type
      type: string
      format: date-time
      pattern: '^(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})(\.\d+)?(Z|[+-]\d{2}:\d{2})$'
      description: 'Datetime with RFC 9557 (prev. RFC 3339)/ISO-8601 standard (local) datetime format "YYYY-MM-DDThh:mm:ssZ" or "YYYY-MM-DDThh:mm:ss±hh:mm"'
      example: '2025-03-12T15:31:21+01:00'
    TimeType:
      title: Time Type
      type: string
      format: time
      pattern: '^(\d{2}):(\d{2}):(\d{2})(\.\d+)?(Z|[+-]\d{2}:\d{2})$'
      description: 'Time with RFC 9557 (prev. RFC 3339) full-time format "hh:mm:ss+/-hh:mm"'
      example: '15:31:21+01:00'
    TimeLocalType:
      title: Time Type
      type: string
      format: time-local
      pattern: '^(\d{2}):(\d{2}):(\d{2})$'
      description: 'Time with RFC 9557 (prev. RFC 3339) partial-time format "hh:mm:ss"'
      example: '15:31:21'
    YearType:
      title: Year Type
      type: string
      pattern: '^\d{4}$'
      description: Year with RFC 9557 (prev. RFC 3339)/ISO-8601 standard date format "YYYY"
      example: '2025'
    NsidType:
      title: 'Namespace Identifier (NSID) Type used in the AT Protocol for decentralized identities, structured using reverse domain name syntax'
      type: string
      pattern: '^[a-zA-Z]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+(\.[a-zA-Z]([a-zA-Z0-9]{0,62})?)$'
      description: Namespace Identifier (NSID)
      example: nl.agroconnect.codelist.cl020
    ##########################################################################
    # (Un)qualified Data Types (UDT/QDT)                                     #
    ##########################################################################
    PrimaryIdContentType:
      title: Primary Id Content Type
      type: string
      format: uuid
      description: The type for the content-part of primary ids of resources
    PrimaryIdSchemeIdType:
      title: PrimaryIdSchemeIdType
      type: string
      description: The type for the schemeId part of primary ids of resources
    PrimaryIdType:
      title: Primary Id Type
      type: object
      # additionalProperties: false
      description: Primary identification for the resources as assigned by the server
      required:
        - content
        - schemeId
      properties:
        content:
          $ref: '#/components/schemas/PrimaryIdContentType'
        schemeId:
          $ref: '#/components/schemas/PrimaryIdSchemeIdType'
    PrimaryId:
      title: Primary Id
      type: object
      # additionalProperties: false
      description: Primary identification for the resources as assigned by the server
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/PrimaryIdType'
    IdType:
      title: Id Type
      type: object
      description: Generice IdType with which a resource is identified
      required:
        - content
        - schemeId
      properties:
        content:
          minLength: 1
          type: string
          description: Identifier value.
        schemeId:
          minLength: 1
          type: string
          description: Scheme Id of the identifier.
    # additionalProperties: false
    ThirdPartyIdsType:
      title: Third Party Ids Type
      type: array
      description: 'List of alternative identifiers (\"AKA, also-know-as\") with which the resource is identified by third parties'
      uniqueItems: true
      items:
        $ref: '#/components/schemas/IdType'
    CodeType:
      title: Code Type
      type: object
      required:
        - content
        - listId
      properties:
        content:
          type: string
          description: "Specific code from the code list that is referred to by listId.\r\n"
        listId:
          allOf:
            - $ref: '#/components/schemas/NsidType'
          description: Identifier as namespace identifier (NSID) expression of the standard code list that contains the allowed codes.
    # additionalProperties: false
    MeasureType:
      title: Measure Type
      type: object
      description: Standard data type for expressing a measurement with a value and unitcode. To be used for all types of measurements and quantities in this class model.
      required:
        - content
        - unitCode
      properties:
        content:
          type: number
          format: float
          description: Expresses the measured value of the measurement.
        unitCode:
          allOf:
            - $ref: '#/components/schemas/CodeType'
          description: "The code that refers to the standard unit or dimension to express the value of this measurement. E.g. kg for kilogram.\r\nlistId: nl.agroconnect.codelist.cl020"
    CharacteristicType:
      title: Characteristic Type
      type: object
      description: 'Generic data type for linked characteristics to a crop, task, operation, allocation, etc.'
      allOf:
        - required:
            - code
          properties:
            code:
              allOf:
                - $ref: '#/components/schemas/CodeType'
              description: "Content and listId of the code list that contains the coding of characteristics for a specific domain:\r\n\r\nFor instance:\r\nThe code list id for crop and operations characteristics for arable farming is nl.agrconnect.codelist.cl265."
            issueDate:
              allOf:
                - $ref: '#/components/schemas/DateType'
              description: The date the characteristic was captured.
            startDate:
              allOf:
                - $ref: '#/components/schemas/DateType'
              description: Begin date of the period this characteristic is or was valid.
            endDate:
              allOf:
                - $ref: '#/components/schemas/DateType'
              description: End date of the period this characteristic is or was valid.
        - oneOf:
            - required:
                - stringValue
              properties:
                stringValue:
                  description: String value of the charateristic
                  type: string
            - required:
                - booleanValue
              properties:
                booleanValue:
                  description: Boolean value (true/false) of the charateristic
                  type: boolean
            - required:
                - dateValue
              properties:
                dateValue:
                  allOf:
                    - $ref: '#/components/schemas/DateType'
                  description: Date value of the characteristic
            - required:
                - dateTimeValue
              properties:
                dateTimeValue:
                  allOf:
                    - $ref: '#/components/schemas/DateTimeType'
                  description: Date value of the characteristic
            - required:
                - codeValue
              properties:
                codeValue:
                  allOf:
                    - $ref: '#/components/schemas/CodeType'
                  description: Code value and code listid of the characteristic
            - required:
                - measureValue
              properties:
                measureValue:
                  allOf:
                    - $ref: '#/components/schemas/MeasureType'
                  description: Numeric value and unit code/listid of the characteristic
    CountryCodeType:
      title: Country Code Type
      allOf:
        - $ref: '#/components/schemas/CodeType'
      description: 'Country codes: 2 letter ISO 3166.'
    ##########################################################################
    # Geo data types (JSON FG)                                               #
    ##########################################################################
    CoordRefSysType:
      type: string
      format: uri
      description: 'URI of the coordinate reference system (CRS), conform OGC CRS-URI convention.'
      example: 'http://www.opengis.net/def/crs/EPSG/0/28992'
    JsonFgTimeType:
      type: object
      description: 'Temporal characteristics of a feature, per the JSON-FG "time" member. Provide at most one of date/timestamp, or an interval.'
      properties:
        date:
          description: A single calendar date the feature is associated with.
          allOf:
            - $ref: '#/components/schemas/DateType'
        timestamp:
          description: A single point in time the feature is associated with.
          allOf:
            - $ref: '#/components/schemas/DateTimeType'
        interval:
          type: array
          description: 'A time interval as [start, end]. Either bound may be null to denote an open interval.'
          minItems: 2
          maxItems: 2
          items:
            type: string
            nullable: true
    # Basic Geometry types
    PositionType:
      type: array
      description: |
        A position ([x, y] or [x, y, z]) is the fundamental geometry construct.  The "coordinates" member of a Geometry object is composed of one or more Position s(depending of the geometry type). The values of the coordinates depend of the CRS. Under CRS84/WGS84 this is [lon, lat], but under a projected CRS such as EPSG:28992 (RD New) this is [x, y] in meters — the order and meaning depend on the CRS specified in coordRefSys.
      minItems: 2
      maxItems: 3
      items:
        type: number
      example:
        - 5.8544
        - 51.8235
    PointType:
      type: object
      description: 'For type "Point", the "coordinates" member is a single position.'
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Point
        coordinates:
          $ref: '#/components/schemas/PositionType'
    LineStringType:
      type: object
      description: 'For type "LineString", the "coordinates" member is an array of two or more positions.'
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - LineString
        coordinates:
          type: array
          description: An ordered list of two or more positions forming a line.
          minItems: 2
          items:
            $ref: '#/components/schemas/PositionType'
    PolygonType:
      type: object
      description: |
        To specify a constraint specific to Polygons, it is useful to introduce the concept of a linear ring:
          o  A linear ring is a closed LineString with four or more positions.
          o  The first and last positions are equivalent, and they MUST contain identical values; their representation SHOULD also be identical.
          o  A linear ring is the boundary of a surface or the boundary of a hole in a surface.
          o  A linear ring MUST follow the right-hand rule with respect to the area it bounds, i.e., exterior rings are counterclockwise, and holes are clockwise.
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Polygon
        coordinates:
          type: array
          description: |
            Array of linear rings. The first (required) ring is the exterior boundary (counterclockwise winding order). Each subsequent (optional) ring is a hole (interior ring, clockwise winding order). Every ring must be closed: the first and last position must be identical. Interior rings must not exceed the exterior boundary at any point and multiple interior boundaries must not overlap eachother.
          minItems: 1
          items:
            type: array
            description: 'A linear ring (minimum 4 positions, closed).'
            minItems: 4
            items:
              $ref: '#/components/schemas/PositionType'
      example:
        type: Polygon
        coordinates:
          - - - 6.77
              - 52.66
            - - 6.785
              - 52.66
            - - 6.785
              - 52.67
            - - 6.77
              - 52.67
            - - 6.77
              - 52.66
          - - - 6.772
              - 52.663
            - - 6.772
              - 52.665
            - - 6.774
              - 52.665
            - - 6.774
              - 52.663
            - - 6.772
              - 52.663
          - - - 6.778
              - 52.666
            - - 6.778
              - 52.668
            - - 6.78
              - 52.668
            - - 6.78
              - 52.666
            - - 6.778
              - 52.666
    MultiPolygonType:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiPolygon
        coordinates:
          type: array
          description: 'An array of Polygon coordinate structures, one per part.'
          items:
            type: array
            minItems: 1
            items:
              type: array
              minItems: 4
              items:
                $ref: '#/components/schemas/PositionType'
      example:
        type: MultiPolygon
        coordinates:
          - - - - 6.77
                - 52.66
              - - 6.785
                - 52.66
              - - 6.785
                - 52.67
              - - 6.77
                - 52.67
              - - 6.77
                - 52.66
            - - - 6.772
                - 52.663
              - - 6.772
                - 52.665
              - - 6.774
                - 52.665
              - - 6.774
                - 52.663
              - - 6.772
                - 52.663
          - - - - 6.79
                - 52.672
              - - 6.798
                - 52.672
              - - 6.798
                - 52.678
              - - 6.79
                - 52.678
              - - 6.79
                - 52.672
            - - - 6.793
                - 52.674
              - - 6.793
                - 52.676
              - - 6.795
                - 52.676
              - - 6.795
                - 52.674
              - - 6.793
                - 52.674
              # ── Geometry unions (with discriminator) ────────────────────
    PlotGeometryType:
      description: |
        The geometry types supported for a plot boundary (Polygon and MultiPolygon).
      oneOf:
        - $ref: '#/components/schemas/PolygonType'
        - $ref: '#/components/schemas/MultiPolygonType'
      discriminator:
        propertyName: type
        mapping:
          Polygon: '#/components/schemas/PolygonType'
          MultiPolygon: '#/components/schemas/MultiPolygonType'
    # Plotfeature and PlotFeatureCollection schemas to be used in an OGC API Features API
    PlotFeatureProperties:
      type: object
      description: |
        The "properties" member shared by PlotFeatureTopLevel and PlotFeature: essential plot business attributes (plotId, name, area) plus the flat entryPoint and abLine geometries (no place/geometry wrapper, since properties is opaque to JSON-FG-only readers).
      properties:
        plotId:
          $ref: '#/components/schemas/PrimaryIdType'
        name:
          type: string
          description: The name of the plot.
          example: 'Tuin1, perceel6'
        area:
          description: 'The surface (measured in for instance square meters, hectare) of this production plot.'
          allOf:
            - $ref: '#/components/schemas/MeasureType'
        entryPoint:
          description: 'Flat GeoJSON geometry (no place/geometry wrapper) describing the entry point of the plot. Coordinates follow the coordRefSys of this feature under profile=jsonfg, or WGS84 under profile=rfc7946.'
          allOf:
            - $ref: '#/components/schemas/PointType'
        abLine:
          description: 'Flat GeoJSON geometry (no place/geometry wrapper) describing the AB reference line of the plot. Coordinates follow the coordRefSys of this feature under profile=jsonfg, or WGS84 under profile=rfc7946.'
          allOf:
            - $ref: '#/components/schemas/LineStringType'
    PlotFeatureTopLevel:
      allOf:
        - type: object
          description: 'A single plot encoded as a top-level JSON-FG Feature, returned as part of an OGC API Feature endpoint.'
          required:
            - type
            - geometry
            - properties
          properties:
            type:
              type: string
              enum:
                - Feature
            id:
              description: 'Unique identifier of the feature. String or number. Under OGC API Features this corresponds to the {featureId} in the resource URI.'
              oneOf:
                - type: string
                - type: number
            conformsTo:
              type: array
              description: JSON-FG conformance classes implemented by this document. Required when profile=jsonfg is used
              items:
                type: string
                format: uri
              example:
                - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/core'
                - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/types-schemas'
            coordRefSys:
              $ref: '#/components/schemas/CoordRefSysType'
            time:
              $ref: '#/components/schemas/JsonFgTimeType'
            place:
              description: |
                Geometry (JSON FG) of the plot (Polygon or MultiPolygon) using the CRS described in coordRefSys. Only applicable for profile=jsonfg. Should not be used for WGS84 coordinates (use geometry in stead)
              allOf:
                - $ref: '#/components/schemas/PlotGeometryType'
              nullable: true
            geometry:
              description: |
                Optional WGS84 fallback geometry (plain GeoJSON) for consumers that support GeoJSON but not JSON-FG. Null when not provided. Constrained to the same geometry types as "place" in this schema. Since this field is required, it is nullable in case WGS84 is nog relevant
              allOf:
                - $ref: '#/components/schemas/PlotGeometryType'
              nullable: true
            featureType:
              description: The type(s) of this feature. Value(s) should be a CURIE or absolute URI referencing an agreed vocabulary (to be determined for AASG).
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              example: 'agroconnect:ecrop:plot'
            properties:
              $ref: '#/components/schemas/PlotFeatureProperties'
        - $ref: '#/components/schemas/Links'
    PlotFeature:
      allOf:
        - type: object
          description: 'A single plot encoded as a JSON-FG Feature, returned as part of an OGC API FeatureCollection endpoint.'
          required:
            - type
            - geometry
            - properties
          properties:
            type:
              type: string
              enum:
                - Feature
            id:
              description: 'Unique identifier of the feature. String or number. Under OGC API Features this corresponds to the {featureId} in the resource URI.'
              oneOf:
                - type: string
                - type: number
            time:
              $ref: '#/components/schemas/JsonFgTimeType'
            place:
              description: |
                Geometry (JSON FG) of the plot (Polygon or MultiPolygon) using the CRS described in coordRefSys. Only applicable for profile=jsonfg. Should not be used for WGS84 coordinates (use geometry in stead)
              allOf:
                - $ref: '#/components/schemas/PlotGeometryType'
              nullable: true
            geometry:
              description: |
                Optional WGS84 fallback geometry (plain GeoJSON) for consumers that support GeoJSON but not JSON-FG. Null when not provided. Constrained to the same geometry types as "place" in this schema. Since this field is required, it is nullable in case WGS84 is nog relevant
              allOf:
                - $ref: '#/components/schemas/PlotGeometryType'
              nullable: true
            properties:
              $ref: '#/components/schemas/PlotFeatureProperties'
        - $ref: '#/components/schemas/Links'
    PlotFeatureCollection:
      allOf:
        - type: object
          description: A collection of plots encoded as a JSON-FG FeatureCollection.
          required:
            - type
            - features
          properties:
            type:
              type: string
              enum:
                - FeatureCollection
            conformsTo:
              description: JSON-FG conformance classes implemented by this document. Required when profile=jsonfg is used
              type: array
              items:
                type: string
                format: uri
              example:
                - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/core'
                - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/types-schemas'
            coordRefSys:
              $ref: '#/components/schemas/CoordRefSysType'
            features:
              type: array
              items:
                $ref: '#/components/schemas/PlotFeature'
            numberMatched:
              type: integer
            numberReturned:
              type: integer
            featureType:
              description: The type(s) of this feature. Value(s) should be a CURIE or absolute URI referencing an agreed vocabulary (to be determined for AASG).
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
              example: 'agroconnect:ecrop:plot'
        - $ref: '#/components/schemas/Links'
      # ── OGC API Features - Part 1: Core resource schemas ─────────────────────
    LandingPage:
      allOf:
        - type: object
          description: 'Landing page of an OGC API Features-compliant API, per OGC API - Features - Part 1: Core, Requirement /req/core/root-op.'
          properties:
            title:
              type: string
              example: AgroConnect eCrop Plot Features API
            description:
              type: string
              example: 'OGC API Features / JSON-FG publication of plot geo-information (boundary, entryPoint, abLine).'
        - $ref: '#/components/schemas/Links'
      example:
        title: AgroConnect eCrop Plot Features API
        description: 'OGC API Features / JSON-FG publication of plot geo-information (boundary, entryPoint, abLine).'
        links:
          - rel: self
            href: 'https://standard-api.agroconnect.nl/plot-features/v1/'
            type: application/json
          - rel: service-desc
            href: 'https://standard-api.agroconnect.nl/plot-features/v1/api'
            type: application/vnd.oai.openapi+json;version=3.0
          - rel: conformance
            href: 'https://standard-api.agroconnect.nl/plot-features/v1/conformance'
            type: application/json
          - rel: data
            href: 'https://standard-api.agroconnect.nl/plot-features/v1/collections'
            type: application/json
    ConformanceDeclaration:
      type: object
      description: 'List of conformance classes implemented by this API, per OGC API - Features - Part 1: Core, Requirement /req/core/conformance-success.'
      required:
        - conformsTo
      properties:
        conformsTo:
          type: array
          items:
            type: string
            format: uri
      example:
        conformsTo:
          - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core'
          - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30'
          - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson'
          - 'http://www.opengis.net/spec/ogcapi-features-2/1.0/conf/crs'
          - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/core'
          - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/types-schemas'
          - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/profiles'
          - 'http://www.opengis.net/spec/json-fg-1/1.0/conf/api'
    CollectionExtentType:
      type: object
      description: Spatial and temporal extent of a feature collection.
      properties:
        spatial:
          type: object
          properties:
            bbox:
              type: array
              items:
                type: array
                items:
                  type: number
                minItems: 4
                maxItems: 6
            crs:
              type: string
              format: uri
              default: 'http://www.opengis.net/def/crs/OGC/1.3/CRS84'
        temporal:
          type: object
          properties:
            interval:
              type: array
              items:
                type: array
                items:
                  type: string
                  nullable: true
                minItems: 2
                maxItems: 2
            trs:
              type: string
              format: uri
              default: 'http://www.opengis.net/def/crs/OGC/0/GregorianDateTime'
    Collection:
      allOf:
        - type: object
          description: 'Metadata about a single feature collection, per OGC API - Features - Part 1: Core, Requirement /req/core/collection-success.'
          required:
            - id
          properties:
            id:
              type: string
              example: plots
            title:
              type: string
              example: Plots
            description:
              type: string
              example: 'Geo-information (boundary, entryPoint, abLine) of AgroConnect eCrop plots.'
            itemType:
              type: string
              default: feature
              example: feature
            crs:
              type: array
              description: CRSs supported for this collection when requested via the crs query parameter.
              items:
                type: string
                format: uri
              example:
                - 'http://www.opengis.net/def/crs/OGC/1.3/CRS84'
                - 'http://www.opengis.net/def/crs/EPSG/0/28992'
            storageCrs:
              description: The native CRS in which the geometry of this collection is stored.
              allOf:
                - $ref: '#/components/schemas/CoordRefSysType'
              example: 'http://www.opengis.net/def/crs/EPSG/0/28992'
            extent:
              $ref: '#/components/schemas/CollectionExtentType'
        - $ref: '#/components/schemas/Links'
    Collections:
      allOf:
        - type: object
          description: 'List of feature collections available in this API, per OGC API - Features - Part 1: Core, Requirement /req/core/collections-success.'
          required:
            - collections
          properties:
            collections:
              type: array
              items:
                $ref: '#/components/schemas/Collection'
        - $ref: '#/components/schemas/Links'
      ##########################################################################
      # Business data Types (schemas)                                          #
      ##########################################################################
    AddressType:
      title: Address Type
      description: Generic type for physical addresses
      type: object
      required:
        - postalCode
        - cityName
        - country
      #- postalBoxId
      properties:
        postalCode:
          type: string
          description: Postal code of the address
        cityName:
          type: string
          description: City name
        streetName:
          type: string
          description: Street name
        streetNumber:
          type: string
          description: Street number
        streetNumberExtension:
          type: string
          description: Extension to the street number (e.g. an addition letter or suffix)
        country:
          $ref: '#/components/schemas/CountryCodeType'
        countryName:
          type: string
          description: Country name
        postalBoxId:
          type: string
          description: Postal box number
    # additionalProperties: false
    PostalAddressType:
      title: Postal Address Type
      description: Specific ype for postal addresses
      allOf:
        - $ref: '#/components/schemas/AddressType'
    VisitorsAddressType:
      title: Visitors Address Type
      description: Specific ype for visitor addresses
      allOf:
        - $ref: '#/components/schemas/AddressType'
    PlotType:
      title: Plot Type
      enum:
        - CROPFIELD
        - ACTIVITYFIELD
        - TABLE
      description: The type of production surface to grow plants. Can be a crop field for arable farming or a moving table (platform) for potted plants in floriculture.
    ProcessStateType:
      title: Process State Type
      enum:
        - PROPOSED
        - PLANNED
        - COMPLETED
      description: 'Indication of the execution status of the task or operation in terms of: proposed, planned, executed. Code list: nl.clL256'
    ProductionSequenceType:
      title: Production Sequence Type
      enum:
        - PRE_CROP
        - MAIN_CROP
        - FOLLOWUP_CROP
        - MIXED_CROP
      description: 'Indicates if and how the crop is combined with other crops. Enumeration: PRE_CROP = voorteelt, MAIN_CROP = hoofdteelt, FOLLOWUP_CROP = volgteelt, MIXED_CROP = mengteelt'
    ##########################################################################
    # Functional schemas (ABIEs, BBIEs and ASBIEs)                           #
    ##########################################################################
    ProblemDetails:
      title: Problem details
      type: object
      description: |-
        Problem details based on the ["Problem Details for HTTP APIs" specification, RFC 9457](https://datatracker.ietf.org/doc/html/rfc9457).

        Remark: According to Proposal NL API Design Rules 2.1 optional properties status, title and detail are required, type and instance are optional
      required:
        - status
        - title
        - detail
      properties:
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          maximum: 599
        title:
          type: string
          description: 'A short, human-readable summary of the problem type.'
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
        type:
          type: string
          format: uri-reference
          description: A URI reference that identifies the problem type.
        instance:
          type: string
          format: uri-reference
          description: A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.
        errors:
          type: array
          description: |
            List of individual validation errors, allowing multiple issues encountered while processing the request to be reported together in a single response (per AASG rule H007). This is an AASG-specific extension member of RFC 9457 Problem Details, not part of the base RFC itself.
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: 'JSON Pointer (RFC 6901) to the field in the request payload or query that caused the error, e.g. "/postalAddress/postalCode".'
              message:
                type: string
                description: Human-readable description of the validation error for this field.
    Link:
      type: object
      description: |
        A hyperlink based on RFC 8288 Web Linking, following the OGC API - Common Hyperlink Schema. Used consistently across both the OGC API Features resources and embedded business objects in this AASG.
      required:
        - href
        - rel
      properties:
        href:
          type: string
          format: uri
          description: The target URI of the link.
        rel:
          type: string
          description: |
            The link relation type. Prefer values from the IANA Link Relations Registry; use the OGC Link Relation Registry or a custom AASG-defined URI for relation types not covered by IANA.
          example: self
        type:
          type: string
          description: A hint at the media type of the link target.
          example: application/geo+json
        title:
          type: string
          description: A human-readable label for the link target.
        hreflang:
          type: string
          description: A hint at the language of the link target.
    Links:
      type: object
      description: A collection named "links"of RFC 8288 conformant links
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
    Health:
      title: Health
      type: object
      additionalProperties: false
      description: Health Check Response Format for HTTP APIs
      required:
        - status
      properties:
        status:
          description: Indicates whether the service status is acceptable or not
          enum:
            - pass # healthy 
            - warn # healthy, with some concerns
            - fail # unhealthy 
      example:
        status: pass
    PartyDetails:
      title: Party details
      type: object
      required:
        - thirdPartyIds
        - name
      properties:
        thirdPartyIds:
          allOf:
            - $ref: '#/components/schemas/ThirdPartyIdsType'
          description: 'List of alternative identifiers (\"AKA, also-know-as\") with which the resource is identified by third parties (e.g. a gln, or chamber of commerce number)'
        name:
          type: string
          description: Name of the party
        personName:
          type: string
          description: Persons name
        phoneNumber:
          type: string
          description: Phone number of the party
        telefaxNumber:
          type: string
          description: Telefax number of the party
        emailAddress:
          type: string
          description: E-mail address of the party
        iban:
          type: string
          description: International Bank Account Number (IBAN) of the party
        websiteUrl:
          type: string
          description: Address of the website of the party
        postalAddress:
          $ref: '#/components/schemas/PostalAddressType'
        visitorsAddress:
          $ref: '#/components/schemas/VisitorsAddressType'
      description: Data about the Party that is involved in producing or processing the crop and or agricultural produce.
    Grower:
      title: Grower
      description: The grower (e.g. the farmer) that is responsible for the cultivation of the crop.
      allOf:
        - allOf:
            - $ref: '#/components/schemas/PrimaryId'
            - example:
                id:
                  content: e3c8a1b2-4f6e-4a2d-8e3b-9c1d2e3f4a5b
                  schemeId: com.my-mps.codelist.guid
        - $ref: '#/components/schemas/GrowerDetails'
    GrowerDetails:
      title: Grower details
      description: The details of the grower (e.g. the farmer) that is responsible for the cultivation of the crop.
      allOf:
        - $ref: '#/components/schemas/PartyDetails'
      example:
        thirdPartyIds:
          - content: '09123559'
            schemeId: nl.kvk.codelist.kvknummer
          - content: '870012388392'
            schemeId: com.gs1.codelist.gln
        name: Kwekerij De Lier
        personName: J. de Lier
        phoneNumber: +31(0)74 26653244
        emailAddress: info@delier.nl
        iban: NL04ABNA0667352669
        websiteUrl: www.delier.nl
        postalAddress:
          postalCode: 3521 AA
          cityName: Naaldwijk
          country:
            content: NL
            listId: iso.3166-1.alpha2
          countryName: Netherlands
          postalBoxId: '4411'
        visitorsAddress:
          postalCode: 3521 AN
          cityName: Naaldwijk
          streetName: Broekweg
          streetNumber: '12'
          country:
            content: NL
            listId: iso.3166-1.alpha2
          countryName: Netherlands
    Supplier:
      title: Supplier
      description: The supplier who delivers goods to a grower
      allOf:
        - allOf:
            - $ref: '#/components/schemas/PrimaryId'
            - example:
                id:
                  content: 7a2e4c3d-9b8f-1a2c-3e4d-5f6a7b8c9d0e
                  schemeId: com.my-mps.codelist.guid
        - $ref: '#/components/schemas/SupplierDetails'
    SupplierDetails:
      title: Supplier details
      description: The details of the supplier who delivers goods to a grower
      allOf:
        - $ref: '#/components/schemas/PartyDetails'
      example:
        thirdPartyIds:
          - content: '06448281'
            schemeId: nl.kvk.codelist.kvknummer
          - content: '870066561253'
            schemeId: com.gs1.codelist.gln
        name: Van Iperen
        phoneNumber: +31(0)74 6521300
        emailAddress: info@iperen.com
        websiteUrl: www.iperen.com
        visitorsAddress:
          postalCode: 3273 LK
          cityName: Westmaas
          streetName: Smidsweg
          streetNumber: '24'
          country:
            content: NL
            listId: iso.3166-1.alpha2
          countryName: Netherlands
    ProductionLocation:
      title: ProductionLocation
      description: The the entity that is responsible for cultivation the crops.
      allOf:
        - allOf:
            - $ref: '#/components/schemas/PrimaryId'
            - example:
                id:
                  content: 8b2c1a7e-4f3d-4e9c-a1b2-3c4d5e6f7a8b
                  schemeId: com.my-mps.codelist.guid
        - $ref: '#/components/schemas/ProductionLocationDetails'
    ProductionLocationDetails:
      title: Production location details
      description: The details of the entity that is responsible for cultivation the crops.
      allOf:
        - $ref: '#/components/schemas/PartyDetails'
      example:
        thirdPartyIds:
          - content: '8700778121125'
            schemeId: com.gs1.codelist.gln
        name: Kas 1
        visitorsAddress:
          postalCode: 2675 SJ
          cityName: Honselersdijk
          streetName: Gantellaan
          streetNumber: '8'
          country:
            content: NL
            listId: iso.3166-1.alpha2
          countryName: Netherlands
    AssetDetails:
      title: Asset details
      type: object
      description: |-
        Details of the entity of a tangible object on which operations can be performed.
        E.g.: a crop, a building, a machine, a ditch, a greenhouse, a climate control system, a feeding system, etc.
      required:
        - thirdPartyIds
        - name
      properties:
        thirdPartyIds:
          description: 'List of alternative identifiers (\"AKA, also-know-as\") with which the asset is identified by third parties'
          allOf:
            - $ref: '#/components/schemas/ThirdPartyIdsType'
        name:
          type: string
        startDate:
          description: The start data of the existence of the asset.
          allOf:
            - $ref: '#/components/schemas/DateType'
        endDate:
          description: The end data of the existence of the asset.
          allOf:
            - $ref: '#/components/schemas/DateType'
        characteristics:
          type: array
          items:
            $ref: '#/components/schemas/CharacteristicType'
    Crop:
      title: Crop
      description: 'The cultivation of a specific crop type (e.g. potato, wheat, rice,. etc.) on one or more plots during a specific period of time, specified by startDateTime and endDateTime.'
      allOf:
        - allOf:
            - $ref: '#/components/schemas/PrimaryId'
            - example:
                id:
                  content: c9a7b8e2-3d4f-5e6a-7b8c-9d0e1f2a3b4c
                  schemeId: com.my-mps.codelist.guid
        - $ref: '#/components/schemas/CropDetails'
    CropDetails:
      title: Crop details
      description: 'The details of the cultivation of a specific crop type (e.g. potato, wheat, rice,. etc.) on one or more plots during a specific period of time, specified by startDateTime and endDateTime.'
      allOf:
        - $ref: '#/components/schemas/AssetDetails'
        - type: object
          required:
            - year
            - plantSpecies
          properties:
            year:
              type: integer
              format: int32
              description: Indication of the year in which the cultivation is harvested.
            country:
              description: 'Country where crop is grown. Code list: ISO country code: 2 letter ISO-3166.'
              allOf:
                - $ref: '#/components/schemas/CountryCodeType'
            region:
              type: string
              description: Region of a country the cultivation took place.\nFor eCrop in The Netherlands for this code list code list nl.cl044 is used.
            useTitle:
              description: Code to indicate the type of legal ownership of the field that is used for the crop. For eCrop in The Netherlands code list nl.cl412 is used for this
              allOf:
                - $ref: '#/components/schemas/CodeType'
            productionType:
              description: 'Indicates the intensity of growing the crop. In The Netherlands used to report to the MLNV-RVO authority. Code list: nl.cl255'
              allOf:
                - $ref: '#/components/schemas/CodeType'
            productionPurpose:
              description: 'Indicator of the produce purpose the crop. For instance: fresh marked, animal feed, seed production, etc. Code list: nl.cl251'
              allOf:
                - $ref: '#/components/schemas/CodeType'
            productionSequence:
              $ref: '#/components/schemas/ProductionSequenceType'
            regularOrOrganic:
              description: 'Production protocol: indicates whether this crop is classified as grown organic or non-organic. Code list: nl.cl015'
              allOf:
                - $ref: '#/components/schemas/CodeType'
            netArea:
              description: 'The net (netto) area (in m2, hectare, etc.) of the surface that is used for growing the crop.'
              allOf:
                - $ref: '#/components/schemas/MeasureType'
            growEnvironment:
              description: 'Indicates in what type of environment the crop is grown; e.g. in the open air, in a greenhouse, etc. Code list: nl.cl299'
              allOf:
                - $ref: '#/components/schemas/CodeType'
            growMedium:
              description: 'Indicates in what medium the crop is rooted; for instance in soil, in substrate, on bark, etc. Code list: nl.cl300'
              allOf:
                - $ref: '#/components/schemas/CodeType'
            trackTillage:
              type: boolean
              description: 'Indicates whether the cultivation, over the years, is done in fixed lanes with fixed tracks for machinery.\n\ntrue = track tillage is applied\nfalse = track tillage is not applied'
            plantSpecies:
              type: array
              items:
                $ref: '#/components/schemas/PlantSpecies'
            plots:
              type: array
              items:
                $ref: '#/components/schemas/Plot'
      example:
        thirdPartyIds:
          - content: '12345'
            schemeId: com.my-mps.codelist.teeltnummer
        name: string
        startDate: '2025-03-12'
        endDate: '2025-11-30'
        year: 2025
        country:
          content: NL
          listId: iso.3166-1.alpha2
        region: string
        useTitle:
          content: string
          listId: nl.agroconnect.codelist.cl412
        productionType:
          content: string
          listId: nl.agroconnect.codelist.cl255
        productionPurpose:
          content: string
          listId: nl.agroconnect.codelist.cl251
        productionSequence: MAIN_CROP
        regularOrOrganic:
          content: string
          listId: nl.agroconnect.codelist.cl015
        netArea:
          content: 6000
          unitCode:
            content: MTK
            listId: nl.agroconnect.codelist.cl020
        growEnvironment:
          content: string
          listId: nl.agroconnect.codelist.cl299
        growMedium:
          content: string
          listId: nl.agroconnect.codelist.cl300
        trackTillage: false
        plantSpecies:
          - plantSpecies: '1010101'
            variety: '01201'
        #   precentageMix: 0
        plots:
          - id:
              content: e7f8a9b0-1c2d-3e4f-5a6b-7c8d9e0f1a2b
              schemeId: com.my-mps.codelist.guid
            thirdPartyIds:
              - content: A342_1_6
                schemeId: com.my-mps.codelist.kasnummer
            name: 'Tuin1, afdeling6'
            startDate: '2024-01-12'
            endDate: '2024-12-14'
            type: CROPFIELD
            area:
              content: 2500
              unitCode:
                content: MTK
                listId: nl.agroconnect.codelist.cl020
            regularOrOrganic:
              content: REGULAR
              listId: nl.agroconnect.codelist.cl015
            localSoilType:
              content: CLAY
              listId: nl.agroconnect.codelist.cl405
            regulatorySoilType:
              content: CLAY
              listId: nl.agroconnect.codelist.cl405
          - id:
              content: b3c4d5e6-7f8a-9b0c-1d2e-3f4a5b6c7d8e
              schemeId: com.my-mps.codelist.guid
            thirdPartyIds:
              - content: A342_1_7
                schemeId: com.my-mps.codelist.kasnummer
            name: 'Tuin1, afdeling7'
            startDate: '2024-01-12'
            endDate: '2024-12-14'
            type: CROPFIELD
            area:
              content: 3500
              unitCode:
                content: MTK
                listId: nl.agroconnect.codelist.cl020
            regularOrOrganic:
              content: REGULAR
              listId: nl.agroconnect.codelist.cl015
            localSoilType:
              content: CLAY
              listId: nl.agroconnect.codelist.cl405
            regulatorySoilType:
              content: CLAY
              listId: nl.agroconnect.codelist.cl405
    PlantSpecies:
      title: Plantspecies
      type: object
      description: |-
        Crop type at the level of potato, sugar beet, onion, winter wheat, etc.
        For mixed crops more then one type of crop can be grown in the same period at the same plot.
      required:
        - plantSpecies
        - variety
      properties:
        species:
          description: 'Code of the plant species, at the aggregation level of potato, sugar beet, onion, etc. For eCrop in The Netherlands, code list nl.cl263 is used for crop species.'
          type: string
        variety:
[...]
